footer {
  background-color: #eaf2fd;
}

.logo {
  color: #575757;
  font-size: 1.2rem;
  font-weight: bold;
}

.logo svg {
  width: 35px;
  height: 35px;
  color: #219ebc;
}

.logo span {
  color: #219ebc;
}

footer ul {
  list-style: none;
}

footer ul li {
  margin: 15px 0px;
}

footer a {
  text-decoration: none;
  color: #555;
}

footer ul li a:hover {
  color: #000;
}

textarea {
  height: 90px !important;
}

.btn-footer {
  border: 1px solid #219ebc;
  background-color: #219ebc;
  color: #fff;
  padding: 10px 65px;
}

.btn-footer:hover{
  background-color: #fff;
  color: #219ebc;
  transition: .3s ease-in-out;
}
