.logo {
  color: #575757;
  font-size: 1.8rem;
  font-weight: bold;
}

.logo svg {
  width: 40px;
  height: 40px;
  color: #219ebc;
}

.logo span {
  color: #219ebc;
}

.search input {
  background-color: #f2f2f2;
  padding: 8px 15px;
  width: 350px;
}

.search svg {
  margin-left: -32px;
  margin-top: -4px;
}

.btn-login {
  border: 1px solid #219ebc;
  background-color: #fff;
  color: #219ebc;
  padding: 10px 65px;
}

.btn-login:hover{
  background-color: #219ebc;
  color: #fff;
  transition: .3s ease-in-out;
}
