.hero {
    padding-top: 120px;
    padding-bottom: 20px;
}

.bg-hero {
    background: url('https://images.unsplash.com/photo-1613160717888-faa82cdb8a94?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')
    center no-repeat #0003;
    background-size: cover;
    background-blend-mode: overlay;
}