<div class="container-fluid bg-hero">
  <div class="container hero text-white">
    <h1>Dezembro promocional</h1>

    <p class="fw-bolder">Produtos selecionados com até 33% de desconto</p>

    <button class="btn-home">Ver consoles</button>
  </div>
</div>

<div class="container my-5" *ngFor="let categoria of categorias">
  <div class="d-flex align-items-center gap-4 justify-content-between">
    <h4 class="m-0">{{ categoria.nome }}</h4>
    <a href="#" class="nav-link fw-bolder align-items-center d-flex"
      >Ver tudo
      <i class="bi bi-arrow-right-short fs-1"></i>
    </a>
  </div>

  <div class="d-flex gap-4">
    <div *ngFor="let produto of categoria.produtos">
      <app-caixinha [produto]="produto"></app-caixinha>
    </div>
  </div>
</div>
